* {
    margin: 0;
    padding: 0;
}

body {
    border-radius: 50%;
}

.contePrincipal {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 40px;
    margin-top: 3rem;
}

.contePrincipal img {
    width: 300px;
    height: 200px;
    border: 8px double #0275d8;
    border-radius: 200px;
}

.footerConte {
    display: flex;
    justify-content: center;
    background-color: beige;
    color: #0d030373;
}

.link {
    text-decoration: none;
    color: #0d030373;
}